.wrapper_with_padding
	#docs.clearfix
		- unless @docs.blank?
			- @docs.each do |doc|
				%a{ href: url_for([doc]) }
				.doc
					%h2.title= link_to doc.title, doc, class: 'a-white'
					%p.date= time_ago_in_words(doc.created_at)
					%p.content= show_content(doc.content, 100, '...')

		- else
			%h2 Create Doc!
			%p Start Creating documents and organizing your life!
			%buttom= link_to "Create Doc", new_doc_path

-# = link_to 'Create Doc', new_doc_path
