.wrapper_with_padding
	#doc_show
		%h1.title= @doc.title
		%p= simple_format(@doc.content)

		.buttons
			= link_to '', docs_path, class: 'btn', 'data-content': 'All Docs'
			=link_to '', edit_doc_path(@doc), class: 'btn', 'data-content': 'Fix Doc'
			= link_to '', doc_path(@doc), method: :delete, data: {confirm: 'Are you sure?' }, class: 'btn', 'data-content': 'Trash It'
