#banner
	.banner_content
		%h1 File Cabinet
		%p Your life's work. Organized, always.
		= link_to "Enter", new_user_registration_path, class: 'button'

#callouts
	.callout_inner
		.wrapper
			.callout
				%h2 Organize
				%p fsjkasfjkdafkjasdfkjasdfkasdfkjasdfjkfdas
				sdfa
				sdf
				sdf
				fd
				sdfd
				sfssdfjasdfjkasdfjksdfjksdfjksdfk

#bottom_cta
	.wrapper
		%h2 Go Ahead
		%br
		= link_to "Join Now", new_user_registration_path, class: 'button'
